-# ヘッダー
= render "layouts/header-search"

-# メイン
.user-logout
  .user-logout__container
    .user-logout__container__btn 
      = link_to root_path, class: "" do
        %p ログアウト
        
-# バナー
= render "layouts/footer-banner"

-# フッター
= render "layouts/footer-links"

-# 出品アイコン
= render "layouts/sell-btn"