.account
  .account__header
    = render 'layouts/header-logo'
  .account__main
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      .account__main__content
        %h1.account__main__content__head
          会員情報入力
        .account__main__content__form
          %p.title ニックネーム
          %span.require
            必須
          .form
            = f.text_field :nickname, required: true, placeholder: "例）フリマ太郎", class: "input-default"
          %p.title メールアドレス
          %span.require
            必須
          .form
            = f.text_field :email, email: true, required: true, placeholder: "例）PC・携帯どちらでも可", class: "input-default"

          %p.title パスワード
          %span.require
            必須
          .form
            = f.password_field :password, required: true, minlength: 7, placeholder: "例）7文字以上の半角英数字", class: "input-default", min: 7, max: 9999999
            %p.text ※英字と数字の両方を含めて設定してください

          %p.title パスワード（確認用）
          %span.require
            必須
          .form
            = f.password_field :password_confirmation, required: true, placeholder: "例）7文字以上の半角英数字", class: "input-default"
            %p.text ※再度パスワードを入力してください

          %p.title お名前（全角）
          %span.require
            必須
          .form-name
            = f.text_field :last_name, required: true, placeholder: "例）山田", class: "input-default-half"
            = f.text_field :first_name, required: true, placeholder: "例）例太郎", class: "input-default-half"

          %p.title お名前カナ（全角）
          %span.require
            必須
          .form-name
            = f.text_field :last_name_reading, required: true, placeholder: "例）ヤマダ", class: "input-default-half"
            = f.text_field :first_name_reading, required: true, placeholder: "例）タロウ", class: "input-default-half"

          %p.title 電話番号
          %span.require
            必須
          .form
            = f.text_field :phone_number, required: true, class: "input-default"
        
          %p.title 生年月日
          %span.require
            必須
          .form-birthday
            = raw sprintf(f.date_select(:birthday, prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'

            %h2 本人確認
            %p.note 安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客様に公開されることはありません。


            .btn__address
              = f.submit "次へ", class: "btn-address"
              

  = render "layouts/footer-logo"



-# ーーーーーファイルを作った際に記述されていたコードーーーーー

-# <h2>Sign up</h2>

-# <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
-#   <%= render "devise/shared/error_messages", resource: resource %>

-#   <div class="field">
-#     <%= f.label :email %><br />
-#     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :password %>
-#     <% if @minimum_password_length %>
-#     <em>(<%= @minimum_password_length %> characters minimum)</em>
-#     <% end %><br />
-#     <%= f.password_field :password, autocomplete: "new-password" %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :password_confirmation %><br />
-#     <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
-#   </div>

-#   <div class="actions">
-#     <%= f.submit "Sign up" %>
-#   </div>
-# <% end %>

-# <%= render "devise/shared/links" %>
