-# ヘッダー
= render "layouts/header-search"

-# メイン
.main
  .main__contents
    .main__contents__left
      %ul.main__contents__left__navi
        %li
          -if @card.blank? #カード情報が登録されていない場合
            = link_to confirm_card_path, class: 'main__contents__left__navi__list' do
              支払い方法
              = icon('fas', 'angle-right', class: 'main__contents__left__navi__list__icon')
          -else #カード情報が登録されている場合
            = link_to card_path, class: 'main__contents__left__navi__list' do
              支払い方法
              = icon('fas', 'angle-right', class: 'main__contents__left__navi__list__icon')
        %li
          = link_to destroy_user_session_path, class: 'main__contents__left__navi__list', method: :delete do
            ログアウト
            = icon('fas', 'angle-right', class: 'main__contents__left__navi__list__icon')
    .main__contents__right
      .main__contents__right__user-icon
        = image_tag 'member_photo_noimage_thumb.png', class: 'user-logo'
        %br 
        = @nickname
      .main__contents__right__purchased-product
        .main__contents__right__purchased-product__head
          %p 購入した商品
        %ul.main__contents__right__purchased-product__tab
          %li.main__contents__right__purchased-product__tab__during-trading
            %p 取引中
          %li.main__contents__right__purchased-product__tab__pasttransactions
            %p 過去の取引
        .main__contents__right__purchased-product__content
          %p 取引中の商品がありません

-# バナー
= render "layouts/footer-banner"

-# フッター
= render "layouts/footer-links"

-# 出品アイコン
= render "layouts/sell-btn"