-# %h2 購入を確定しますか？
-# %p #{@name}
-# %p ¥ #{@price} #{@shipp}
-# %br
-# %h3 支払い方法
-# %p **** **** **** #{@last4}
-# %p #{@exp_month} / #{@exp_year}
-# %br
-# = form_tag(action: :pay, method: :post) do
-#   = link_to "購入する", root_path, class: ""