.item-confirm
  .item-confirm__header
    = render 'layouts/header-logo'
  .item-confirm__content
    .item-confirm__content-title 
      %p 購入内容の確認
    .item-confirm__content-item
      .item-confirm__content-item__inner
        = image_tag @first_photo.image, class: "item-confirm__content-item__inner__image"
        .item-confirm__content-item__inner__detail
          .item-confirm__content-item__inner__detail__name
            = @item.name
          .item-confirm__content-item__inner__detail__price
            = "￥" + @item.price.to_s + "(税込)"
            %br
            = @item.shipping_fee
    .item-confirm__content-total
      .item-confirm__content-total__title
        %p 支払い金額
      .item-confirm__content-total__price
        = "￥" + @item.price.to_s
    .item-confirm__content-card-info
      .way-of-payment
        %p 支払い方法
        -# = link_to "変更する", "#"
      .card-infomation
        -#カード情報を表示
        %p クレジットカード
        .card-information__data
          %p **** **** **** #{@last4}
        .card-information__data
          %p 有効期限  #{@exp_month} / #{@exp_year}
        = image_tag "#{@card_src}", class: 'card-information__image', alt: @card_brand
    .item-confirm__content-delivery-info
      .delivery-info
        %p 配送先
        -# = link_to "変更する", "#"
      .delivery-info__detail
        = "〒" + @address.postcode.to_s
        %br
        = @address.prefecture.name
        = @address.city
        = @address.block
        = @address.building
        %br
        = @user.last_name
        = @user.first_name
    .item-confirm__content-confirm
      = button_to "購入する", purchase_item_path(item_id: @item.id), method: :post, class: "confirm-btn"
    = render 'layouts/footer-logo'
      
