.item-confirm
  .item-confirm__header
    = image_tag 'logo.png', class: 'item-new__logo'
    -# = render "header" をするところ
  .item-confirm__content
    .item-confirm__content-title 
      %p 購入内容の確認
    .item-confirm__content-item
      -# itemの写真、タイトル、金額を表示
    .item-confirm__content-total
      .total
        %p 支払い金額
        .total-amount__yen  ￥
        .total-amount__number
        -# form_with 合計金額を表示
      .point
        = check_box_tag :check1
        = label_tag :check1, "ポイントを使用（所持ポイント：○○）"
    .item-confirm__content-card-info
      .way-of-payment
        %p 支払い方法
        = link_to "変更する", "#"
      .card-infomation
      -# カード情報を表示
    .item-confirm__content-delivery-info
      .delivery-info
        %p 配送先
        = link_to "変更する", "#"
    .item-confirm__content-confirm
      = button_to "購入する", "#", class: "confirm-btn"
    .item-confirm__footer
      
