.item-new
  = render 'layouts/header-logo'
  .item-new__content
    = form_for @item do |f|
      .item-new__content-picture
        .title 
          %p 出品画像
          .necessary-mark 必須
        %p.note 最大５枚までアップロードできます
        .file-upload-box
          = f.fields_for :photos do |photo|
            .file-upload-box-image
              = image_tag(photo.object.image)
              %br
              %label{class: "update-btn-label"}
                upload
                = photo.file_field :image, class: "update-btn"
                = photo.hidden_field :id, value: photo.object.id

      .item-new__content-detail
        .title
          %p 商品名
          .necessary-mark 必須
        .detail__text-form1
          = f.text_field :name, class: "item-new-form"
        .title
          %p 商品の説明
          .necessary-mark 必須
        .detail__text-form2
          = f.text_area :description, class: "item-new-form"
      .item-new__content-category
        %p 商品の詳細
        .title
          %p カテゴリー
          .necessary-mark 必須
        .category__text-form
          = f.collection_radio_buttons :category_id, Category.all, :id, :name
        .title
          %p サイズ 
          .necessary-mark 必須
        .category__text-form2
          = f.select :size, [["SS", "SS"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"]],{include_blank: "選択して下さい"}, {class: "item-new-form"}
        .title
          %p 商品の状態
          .necessary-mark 必須
        .category__text-form3
          = f.select :status, [["新品・未使用", "新品・未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], {include_blank: "#{@item.status}"}, {class: "item-new-form"}
      .item-new__content-delivery
        %p 配送について
        .title
          %p 配送料の負担
          .necessary-mark 必須
        .delivery__text-form1
          = f.select :shipping_fee, [["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]], {include_blank: ""}, {class: "item-new-form"}
        .title
          %p 発送元の地域
          .necessary-mark 必須
        .delivery__text-form2
          = f.collection_select :shippingfrom_id, Shippingfrom.all, :id, :name, {prompt: "--"}, {class: "item-new-form"}
        .title
          %p 発送までの日数
          .necessary-mark 必須
        .delivery__text-form2
          = f.select :shipping_days, [["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], {include_blank: ""}, {class: "item-new-form"}
      .item-new__content-confirm
        %p 価格（￥300〜9,999,999)
        .item-new__content-confirm__box1
          .title
            %p 販売価格
            .necessary-mark 必須
          .confirm__text-form
            %p ￥
            .form
              = f.text_field :price, class: "item-new-form2"
        .btn
          = f.submit "編集する", class: "item-new__confirm-btn"
        = link_to 'もどる', "/items/#{@item.id}", class: "back-btn_1"
        %p.caution 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  = render 'layouts/footer-logo'