= render "layouts/header-search"

-# メインコンテンツ
.main

  = render "layouts/header-banner"

  %section.introduction
    %h2.introduction__subtitle FURIMAが選ばれる3つの理由
    %ul.introduction__contents
      %li.introduction__contents__list
        .introduction__contents__list__pic
          %span.introduction__contents__list__pic__number １
          = image_tag 'pict-reason-01.jpg'
        .introduction__contents__list__text
          %span 3分
          ですぐに出品
        .introduction__contents__list__discription スマホ入力するだけで簡単に出品できる！
      %li.introduction__contents__list
        .introduction__contents__list__pic
          %span.introduction__contents__list__pic__number ２
          = image_tag 'pict-reason-02.jpg'
        .introduction__contents__list__text
          %span シンプル
          で使いやすい
        .introduction__contents__list__discription めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.introduction__contents__list{style: 'margin: 16px 0 0;'}
        .introduction__contents__list__pic
          %span.introduction__contents__list__pic__number ３
          = image_tag 'pict-reason-03.jpg'
        .introduction__contents__list__text
          手数料
          %span 業界最安
        .introduction__contents__list__discription 最大3%でお得に出品&購入！

  .dl-guide
    .dl-guide__contents
      %h2.dl-guide__contents__subtitle 会員数日本一位
      %p.dl-guide__contents__text FURIMAは、フリマアプリで最も人気。<br>出品・購入回数も業界最多です！<br>ほしかったあの商品に出会えるかもしれません。
      .dl-guide__contents__btn
        = link_to image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class:"dl-guide__contents__btn__abtn"), '#'
        = link_to image_tag("google-play-badge.png", class:"dl-guide__contents__btn__gbtn"), '#'

  %section.feature
    %h2.feature__heading FURIMAの特徴
    %ul.feature__contents
      %li.feature__contents__list
        = image_tag 'icon-01.png', class: 'feature__contents__list__pic'
        %h3.feature__contents__list__subtitle 簡単に売り買いできる
        %p.feature__contents__list__discription スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.feature__contents__list
        = image_tag 'icon-03.png', class: 'feature__contents__list__pic'
        %h3.feature__contents__list__subtitle 売上金は即日振込みに対応
        %p.feature__contents__list__discription 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.feature__contents__list
        = image_tag 'icon-04.png', class: 'feature__contents__list__pic'
        %h3.feature__contents__list__subtitle 様々な支払いに対応
        %p.feature__contents__list__discription お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .pickup-container
    %h2.head ピックアップカテゴリー
    = link_to '#', class: "subtitle" do
      新規投稿商品
    .product-box
      = link_to '#', class: 'product-box__list' do
        = image_tag 'logo-white.png', class: 'product-box__list__image'
        .product-box__list__body
          .product-box__list__body__name product3
          .product-box__list__body__price 30000円
          .product-box__list__body__comment (税込)
      = link_to '#', class: 'product-box__list' do
        = image_tag 'logo-white.png', class: 'product-box__list__image'
        .product-box__list__body
          .product-box__list__body__name product2
          .product-box__list__body__price 20000円
          .product-box__list__body__comment (税込)
      = link_to '#', class: 'product-box__list' do
        = image_tag 'logo-white.png', class: 'product-box__list__image'
        .product-box__list__body
          .product-box__list__body__name product1
          .product-box__list__body__price 10000円
          .product-box__list__body__comment (税込)

  .pickup-container{style: 'padding-bottom:80px;'}
    %h2.head ピックアップブランド
    = link_to '#', class: "subtitle" do
      アーカイバ
    .product-box
      = link_to '#', class: 'product-box__list' do
        = image_tag 'logo-white.png', class: 'product-box__list__image'
        .product-box__list__body
          .product-box__list__body__name product3
          .product-box__list__body__price 30000円
          .product-box__list__body__comment (税込)
      = link_to '#', class: 'product-box__list' do
        = image_tag 'logo-white.png', class: 'product-box__list__image'
        .product-box__list__body
          .product-box__list__body__name product2
          .product-box__list__body__price 20000円
          .product-box__list__body__comment (税込)
      = link_to '#', class: 'product-box__list' do
        = image_tag 'logo-white.png', class: 'product-box__list__image'
        .product-box__list__body
          .product-box__list__body__name product1
          .product-box__list__body__price 10000円
          .product-box__list__body__comment (税込)

-# フッター
= render "layouts/footer-banner"
= render "layouts/footer-links"

-# 出品アイコン
%a{ href: '#' }
  .sell-btn
    %span.sell-btn__text 出品する
    = image_tag 'icon_camera.png', class: 'sell-btn__icon'
