.item-new
  = render "layouts/header-logo"
  .item-new__content
    .item-new__content-picture
      .title 
        %p 出品画像
        .necessary-mark 必須
      %p.note 最大５枚までアップロードできます
      .file-upload-box
        = file_field :image, placeholder: "クリックして画像をアップロード", class: "upload-btn"
    .item-new__content-detail
      .title
        %p 商品名
        .necessary-mark 必須
      .detail__text-form1
        = text_field :name, class: "item-new-form"
      .title
        %p 商品の説明
        .necessary-mark 必須
      .detail__text-form2
        = text_area :text, class: "item-new-form"
    .item-new__content-category
      %p 商品の詳細
      .title
        %p カテゴリー
        .necessary-mark 必須
      .category__text-form
        = text_field :name, class: "item-new-form"        
      .title
        %p ブランド 
        .not__necessary-mark 任意
      .category__text-form2
        = text_field :name, class: "item-new-form"
      .title
        %p 商品の状態
        .necessary-mark 必須
      .category__text-form3
        = text_field :name, class: "item-new-form"
    .item-new__content-delivery
      %p 配送について
      .title
        %p 配送料の負担
        .necessary-mark 必須
      .delivery__text-form1
        = text_field :name, class: "item-new-form"
      .title
        %p 発送元の地域
        .necessary-mark 必須
      .delivery__text-form2
        = text_field :name, class: "item-new-form"
      .title
        %p 発送までの日数
        .necessary-mark 必須
      .delivery__text-form2
        = text_field :name, class: "item-new-form"
    .item-new__content-confirm
      %p 価格（￥300〜9,999,999)
      .item-new__content-confirm__box1
        .title
          %p 販売価格
          .necessary-mark 必須
        .confirm__text-form
          %p ￥
          .form
            = text_field :price, class: "item-new-form2"
      .confirm__tax
        %p 販売手数料（10%）
        .form
          = text_field :price, class: "item-new-form2"
      .confirm__tax__border
      .confirm__tax
        %p 販売利益
        .form
          = text_field :price, class: "item-new-form2"
      .btn
        = button_to "出品する", "#", class: "item-new__confirm-btn"
        = button_to "下書きに保存", "#", class: "item-new__save-btn"
        = link_to 'もどる', "#", class: "back-btn"
      %p.caution 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

    .item-new__footer