= render "layouts/header-search"

.item-show
  .item-show__content
    .item-show__content-title
      = @item.name
    .item-show__content-picture
      .item-show__content-picture__main
      .item-show__content-picture__sub
        .picture
        .picture
    .item-show__content-price
      .item-show__content-price__number
        = @item.price
      .item-show__content-price__tax
        (税込) 送料込み
    .item-show__content-detail
      %table{border: "1", bordercolor: "#DDDDDD"}
        %tr
          %td.column
            出品者
          %td.info
            
        %tr
          %td.column
            カテゴリー
          %td.info
            = @item.category.name
            
        %tr
          %td.column
            商品のサイズ
          %td.info
            = @item.size
        %tr
          %td.column
            商品の状態
          %td.info
            = @item.status
        %tr
          %td.column
            配送料の負担
          %td.info
            = @item.shipping_fee_cost
        %tr
          %td.column
            発送元の地域
          %td.info
        %tr
          %td.column
            発送日の目安
          %td.info
            = @item.shipping_days.to_s + "日"
      .item-show__content-btn
        = button_to "購入画面に進む", "#", class: "confirm-btn"

= render "layouts/footer-banner"
= render "layouts/footer-links"