-# ヘッダー
= render "layouts/header-searchlogin"

-# メイン
.card-new
  .card-new__title 
    %h2 クレジットカード情報入力

  .card-new__info
    .card-new__info__inner
      = form_tag(cards_path, method: :post, id: "charge-form", class: "details", name: "inputForm") do

        -# カード番号入力欄
        .card-new__info__inner__head
          %label.card-number カード番号
          %span.require 必須
          .card-new__info__inner__head__number
            = text_field_tag 'payment_card_no', "", class: 'cardnumber', id: "payment_card_no", placeholder: '半角数字のみ', type: "text", maxlength: "16"
          .card-new__info__inner__head__logo
            = image_tag 'logo_download_ph001.png', class: 'card-logo'
            = image_tag 'logo_download_ph002.png', class: 'card-logo'
            = image_tag 'jcb-logomark-img-03.gif', class: 'card-logo'
            = image_tag 'amex-logomark-img-06.gif', class: 'card-logo'
            = image_tag 'logo_download_ph003.png', class: 'card-logo'
            = image_tag 'discover-logomark-img-06.gif', class: 'card-logo'
          
        -# 有効期限選択欄
        .card-new__info__inner__expiration
          %label.expiration-date 有効期限
          %span.require 必須
          .card-new__info__inner__expiration__select
            %select#payment_card_month.card-default{name: "payment_card_month", type: "text"}
              %option{value: "1"} 01
              %option{value: "2"} 02
              %option{value: "3"} 03
              %option{value: "4"} 04
              %option{value: "5"} 05
              %option{value: "6"} 06
              %option{value: "7"} 07
              %option{value: "8"} 08
              %option{value: "9"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            %span.month 月
            %select#payment_card_year.card-default{name: "payment_card_year", type: "text"}
              %option{value: "2020"} 20
              %option{value: "2021"} 21
              %option{value: "2022"} 22
              %option{value: "2023"} 23
              %option{value: "2024"} 24
              %option{value: "2025"} 25
              %option{value: "2026"} 26
              %option{value: "2027"} 27
              %option{value: "2028"} 28
              %option{value: "2029"} 29
              %option{value: "2030"} 30
            %span.year 月

        -# セキュリティコード入力欄
        .card-new__info__inner__security
          %label.security-code セキュリティコード
          %span.require 必須
          .card-new__info__inner__security__code
            = text_field_tag  "payment_card_cvc", "", type: 'text', class: 'securitycode__cardsecurity__form', id: "payment_card_cvc", maxlength: "4", placeholder: 'カード背面4桁もしくは3桁の番号'
 
        -# 追加するボタン
        .card-new__info__inner__add 
          = submit_tag "追加する", class: "add-btn", id: "payment_card_submit-button"

-# バナー
= render "layouts/footer-banner"

-# フッター
= render "layouts/footer-links"

-# 出品アイコン
= render "layouts/sell-btn"