%header.pcheader
  .header-container
    .main-header
      .furima-logo
        = link_to image_tag("logo.png", class:"furima-logo"), root_path
      .form
        .search-box
          %input{type: "search", class: "search-box__text", placeholder: "キーワードから探す"}
          = button_tag type:"submit", class: 'search-box__btn' do
            =image_tag 'icon-search 1.png'

      - if user_signed_in?
        .rightlist
          = link_to "マイページ", "/users/#{current_user.id}", class: "mypage"

      - else 
        %ul.rightlist
          %li.rightlist__conts
            = link_to user_session_path, class: "" do
              ログイン
          %li.rightlist__conts
            = link_to new_user_registration_path, class: "" do
              新規会員登録
